/* ========================================================= Mobile ========================================================= */
.advantages-icons-list {
    display: none;
}

.advantages {
    padding: 96px 0;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages-list-item {
    width: 100%;
}

.advantages-list-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.advantages-list-text {
    font-weight: 500;
}

/* ========================================================= Tablet ========================================================= */
@media screen and (min-width: 768px) {
.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-list-item {
    width: 356px;
}

.advantages-list-title {
    text-align: left;
}
}

/* ========================================================= Descktop ========================================================= */
@media screen and (min-width: 1158px) {
.advantages {
    padding: 120px 0;
}

.advantages-icons-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
}

.advantages-icons-item {
    width: 100%;
}

.advantages-icons-item-div {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.advantages-list-item {
    width: 264px;
}

.advantages-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.advantages-list-text {
    font-weight: 400;
}
}







